<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<packages>
  <package id="log4net" version="2.0.12" targetFramework="net45" />
  <package id="NewPlatform.Flexberry.LogService" version="2.0.0" targetFramework="net45" />
  <package id="Microsoft.Spatial" version="7.7.2" targetFramework="net45" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net45" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net45" />
  <package id="System.Linq.Expressions" version="4.1.0" targetFramework="net45" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net45" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net45" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net45" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net45" />
  <package id="Unity.Abstractions" version="5.11.6" targetFramework="net45" />
  <package id="Unity.Container" version="5.11.8" targetFramework="net45" />
  <package id="Unity.Configuration" version="5.11.2" targetFramework="net45" />
  <package id="NewPlatform.Flexberry.ORM" version="6.0.0" targetFramework="net45" />
</packages>